@use "global" as *;

.button {
  display: inline-block;
  padding-block: rem(12);
  font-size: rem(17);
  font-weight: $semi-bold;
  line-height: 1;
  text-align: center;
  color: $rose;
  background-color: $beige;
  border-radius: 30px;
  max-width: rem(345);
  width: 100%;
  transition: background-color 0.3s color 0.3s;
  @include mq("md") {
    padding: rem(15) rem(27);
    font-size: rem(18);
    max-width: fit-content;
  }
}

.button span {
  display: inline-block;
  align-items: center;
  padding-right: rem(15);
  position: relative;
}

.button span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: rem(6);
  height: rem(11);
  background-image: url(../../assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button--entry {
  @extend .button;
  background-color: $rose;
  font-size: rem(18);
  font-weight: $bold;
  font-family: $second-font;
  max-width: rem(280);
  padding-block: rem(16);
}

.button--entry span {
  color: $white;
}

.button--entry span::after {
  filter: brightness(0) invert(1);
  width: rem(8);
  height: rem(14);
}
