@use "global" as *;

.conditions {
}

.conditions__inner.inner--small {
}

.conditions__container {
}

.conditions__head {
}

.conditions__info {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.conditions__text,
.conditions__item {
  font-size: rem(15);
  line-height: 2;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(40 / 16);
  }
}

.conditions__text {
  font-weight: $bold;
}

.conditions__list {
}

.conditions__item {
  padding-left: 1em;
  text-indent: -1em;
}

.conditions__item span {
  display: inline-block;
}

.conditions__movie {
  margin-top: rem(30);
  border: rem(6) solid $white;
  border-radius: 10px;
  @include mq("md") {
    margin-top: rem(40);
    border-radius: 37px;
    max-width: rem(687);
    margin-inline: auto;
  }
}

.conditions__movie video {
  border-radius: rem(3);
  aspect-ratio: 346/192;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    border-radius: 30px;
    aspect-ratio: 687/382;
  }
}

.conditions__movie img {
  border-radius: rem(3);
  aspect-ratio: 346/192;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 687/382;
  }
}
