@use "global" as *;

.detail {
}

.detail__inner.inner {
}

.detail__container {
}

.detail__head {
  display: flex;
  justify-content: center;
}

.detail__text {
  margin-top: rem(30);
  font-size: rem(16);
  font-weight: $semi-bold;
  line-height: calc(30 / 16);
  @include mq("md") {
    margin-top: rem(40);
    text-align: center;
    font-size: clamp(12px, calc(16 / 1400 * 100vw), 16px);
  }
}

.detail__content {
  margin-top: rem(30);
  border: 3px solid $black;
  background-color: $beige;
  border-radius: 10px;
  padding-block: rem(30);
  padding-inline: rem(20);
  padding-inline: rem(19);
  @include mq("md") {
    margin-top: rem(40);
    border-radius: 30px;
    padding-block: rem(65);
    padding-inline: rem(40);
  }
}

.detail__content + .detail__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.detail__content-head {
}

.detail__content-list {
  margin-top: rem(30);
  display: grid;
  gap: rem(20);
  @include mq("md") {
    margin-top: rem(40);
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(24);
    row-gap: rem(32);
  }
}

.detail__content-item + .detail__content-item {
}

.detail__skill-list {
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);
  @include mq("md") {
    margin-top: rem(40);
    flex-direction: initial;
    flex-wrap: wrap;
    gap: rem(25);
  }
}

.detail__skill-item {
  max-width: rem(310);
  width: 100%;
  @include mq("md") {
    max-width: fit-content;
  }
}

.detail__content-body {
  margin-top: rem(40);
  counter-reset: curriculumNom;
  @include mq("md") {
    margin-top: rem(60);
  }
}

.detail__content-curriculum {
  counter-increment: curriculumNom;
}

.detail__content-curriculum + .detail__content-curriculum {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(50);
  }
}
