@use "global" as *;

.faq-item {
}

.faq-item + .faq-item {
  margin-top: rem(30);
}

.faq-item__question {
  font-size: rem(15);
  font-weight: $bold;
  font-family: $second-font;
  line-height: 2;
  position: relative;
  border-bottom: 2px dashed $aqua;
  padding-left: rem(30);
  padding-right: rem(30);
  padding-bottom: rem(10);
  cursor: pointer;
  letter-spacing: -0.02em;
  @include mq(md) {
    font-size: rem(22);
    line-height: calc(43 / 22);
    letter-spacing: initial;
    padding-left: rem(36);
    padding-bottom: rem(16);
  }
}

.faq-item__question::before {
  content: "Q";
  position: absolute;
  top: rem(-2);
  left: rem(2);
  font-size: rem(29);
  font-weight: $bold;
  color: $rose;
  line-height: 1;
  @include mq(md) {
    font-size: rem(31);
    top: rem(4);
  }
}

.faq-item__question::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: rem(26);
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  transform: rotate(90deg);
  background-image: url("../../assets/images/icon-plus.svg");
  @include mq("md") {
    width: rem(39);
    top: rem(4);
  }
}

.faq-item__question.is-open::after {
  transform: rotate(0deg);
  background-image: url("../../assets/images/icon-minus.svg");
}

.faq-item__question span {
  display: inline-block;
}

.faq-item__answer {
  display: none;
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(30 / 14);
  @include mq(md) {
    margin-top: rem(10);
    font-size: rem(18);
    line-height: calc(30 / 18);
  }
}

.faq-item:first-child .faq-item__answer {
  display: block;
}
