@use "global" as *;

.flow {
}

.flow--company {
  @extend .flow;
}

.flow__inner.inner--small {
}

.flow__container {
}

.flow__head {
}

.flow--company .flow__head {
  display: flex;
  justify-content: center;
}

.flow__list {
  counter-reset: flowNum;
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(55);
  }
}

.flow--company .flow__list {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.flow__item {
  counter-increment: flowNum;
  position: relative;
}

.flow__item + .flow__item {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(64);
  }
}

.flow--company .flow__item + .flow__item {
  @include mq("md") {
    margin-top: rem(56);
  }
}

.flow__button {
  margin-top: rem(64);
  text-align: center;
}
