@use "global" as *;

.header {
  position: fixed;
  z-index: $header;
  top: 0;
  inset-inline: 0;
  height: rem(50);
  @include mq("md") {
    height: rem(75);
  }
}

.header__inner {
  background-color: rgba($white, 0.9);
  padding-left: rem(10);
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  z-index: $header;
  filter: drop-shadow(0 0 9px #00000029);
  transition: background-color 0.3s;
  @include mq("md") {
    padding-right: rem(28);
  }
}

.header__logo {
  width: rem(98);
  height: inherit;
  @include mq("md") {
    width: rem(128);
  }
}

.header__logo a {
  display: block;
  height: inherit;
}

.header__logo img {
  aspect-ratio: 98/33;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq("md") {
    aspect-ratio: 128/44;
  }
}

.header__banners {
  margin-left: rem(28);
  height: inherit;
  display: flex;
  align-items: center;
  gap: rem(10);
  @include mq("md") {
    margin-left: rem(20);
    gap: rem(20);
  }
}

.header__banner01 {
  max-width: rem(37);
  height: inherit;
  @include mq("md") {
    max-width: rem(55);
    // width: calc(55 / 1400 * 100vw);
  }
}

.header__banner01 a,
.header__banner02 a,
.header__banner03 a {
  height: inherit;
}

.header__banner01 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__banner02 {
  max-width: rem(62);
  height: inherit;
  @include mq("md") {
    max-width: rem(91);
    // width: calc(91 / 1400 * 100vw);
  }
}

.header__banner02 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__banner03 {
  max-width: rem(62);
  height: inherit;
  @include mq("md") {
    max-width: rem(91);
    // width: calc(91 / 1400 * 100vw);
  }
}

.header__banner03 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__banner01 a,
.header__banner02 a,
.header__banner03 a {
  display: inline-block;
}

.header__nav {
  display: none;
  height: inherit;
  @include mq("md") {
    display: flex;
    margin-left: auto;
  }
}

.header__nav-list {
  display: flex;
  height: inherit;
}

.header__nav-item {
  display: flex;
  height: inherit;
  flex-shrink: 0;
}

.header__nav-item a {
  height: inherit;
  display: flex;
  align-items: center;
  font-size: rem(15);
  font-weight: $medium;
  line-height: 1;
  position: relative;
  padding-inline: rem(15);
  transition: color 0.3s;
}

.header__nav-item a::before {
  content: "";
  position: absolute;
  left: rem(5);
  width: rem(4);
  height: rem(7);
  background-color: $black;
  mask-image: url(../../assets/images/icon-arrow-black.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: background-color 0.3s;
}

.header__nav-item.is-current a {
  color: $blue;
}

.header__nav-item.is-current a::before {
  background-color: $blue;
}

.header__nav-contact {
  height: inherit;
  display: flex;
  align-items: center;
  margin-left: rem(13);
}

.header__nav-contact a {
  font-size: rem(15);
  font-weight: $bold;
  font-family: $second-font;
  color: $white;
  line-height: 1;
  background-color: $rose;
  position: relative;
  padding-top: rem(14);
  padding-bottom: rem(15);
  border-radius: 28px;
  padding-inline: rem(19);
  transition: background-color 0.3s;
}

.header__nav-contact a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: rem(16);
  height: rem(13);
  background-color: inherit;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.header__hamburger {
  margin-left: auto;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: $hamburger;
  height: inherit;
  aspect-ratio: 1;
  background-color: $blue;
  @include mq("md") {
    display: none;
  }
}

.header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: rem(28);
  height: 3px;
  background-color: $white;
  transition:
    transform 0.5s,
    top 0.5s,
    width 0.5s;
}

.header__hamburger span:nth-of-type(1) {
  top: rem(-6);
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: rem(6);
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: rem(3);
  transform: translateX(-50%) rotate(33deg);
  width: rem(34);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: rem(-3);
  transform: translateX(-50%) rotate(-33deg);
  width: rem(34);
}

.header__drawer {
  position: absolute;
  z-index: $drawer;
  top: -100svh;
  left: 0;
  width: 100%;
  height: 100svh;
  filter: drop-shadow(0 0 3px #00000029);
  transition: 0.6s;
}

.header__drawer.is-open {
  top: 100%;
}

.header__drawer-wrap {
  overflow-y: auto;
  height: inherit;
  padding-bottom: rem(50);
  scrollbar-width: none;
}

.header__drawer-wrap::-webkit-scrollbar {
  display: none;
}

.header__drawer-nav {
  height: fit-content;
  padding-top: rem(22);
  padding-bottom: rem(27);
  background-color: $lightaqua;
}

.header__drawer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__drawer-item {
  max-width: rem(347);
  width: 100%;
}

.header__drawer-item a {
  position: relative;
  padding: rem(15) 0;
  display: block;
  font-size: rem(15);
  font-weight: $medium;
  font-family: $second-font;
  line-height: 1;
  text-align: center;
  background-color: $white;
  border-radius: 23px;
  filter: drop-shadow(0 0 4px #00000029);
}

.header__drawer-item a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(22);
  transform: translateY(-50%);
  width: rem(7);
  height: rem(11);
  background-image: url(../../assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__drawer-item--contact {
  @extend .header__drawer-item;
}

.header__drawer-item--contact a {
  background-color: $rose;
  color: $white;
}

.header__drawer-item--contact a::after {
  filter: brightness(0) invert(1);
}

.header__drawer-item + .header__drawer-item {
  margin-top: rem(10);
}

@media (any-hover: hover) {
  .header__nav-item a:hover {
    color: $blue;
  }

  .header__nav-item a:hover::before {
    background-color: $blue;
  }

  .header__nav-contact a:hover {
    background-color: $blue;
    opacity: 1;
  }
}
