@use "global" as *;

.head {
  position: relative;
  font-size: rem(18);
  font-weight: $bold;
  font-family: $second-font;
  line-height: 1;
  letter-spacing: 0.05em;
  padding-left: rem(13);
  @include mq("md") {
    font-size: rem(35);
    letter-spacing: 0.15em;
    padding-left: rem(25);
  }
}

.head::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  width: rem(5);
  height: rem(17);
  background-color: currentColor;
  border-radius: 3px;
  @include mq("md") {
    width: rem(9);
    height: rem(31);
  }
}

.head--rose {
  @extend .head;
  font-size: rem(17);
  padding-left: rem(16);
}

.head--rose::before {
  background-color: $rose;
  left: rem(3);
}

.head--blue {
  @extend .head;
  letter-spacing: 0;
  @include mq("md") {
    font-size: rem(26);
    color: $black2;
    letter-spacing: 0;
    padding-left: rem(18);
  }
}

.head--blue::before {
  background-color: $blue;
  @include mq("md") {
    width: rem(7);
    height: rem(24);
  }
}
