@use "global" as *;

.interview {
}

.interview__inner.inner--small {
}

.interview__container {
}

.interview__head {
}

.interview__list {
  margin-top: rem(30);
  display: grid;
  gap: rem(30);
}

.interview__item {
}
