@use "global" as *;

.interview {
}

.interview__inner.inner--small {
}

.interview__container {
}

.interview__head {
  @include mq("md") {
    text-align: center;
  }
}

.interview__list {
  margin-top: rem(30);
  display: grid;
  gap: rem(30);
  @include mq("md") {
    margin-top: rem(35);
    gap: rem;
  }
}

.interview__item {
}
