@use "global" as *;

.news {
  background-color: $beige;
}

.news__inner.inner {
}

.news__container {
  @include mq("md") {
  }
}

.news__head {
}

.news__list {
  margin-top: rem(40);
  padding-top: rem(6);
  padding-inline: rem(15);
  padding-bottom: rem(10);
  background-color: $white;
  border-radius: 15px;
  @include mq("md") {
    margin-top: rem(40);
    border-radius: 30px;
    padding-top: rem(20);
    padding-inline: rem(50);
    padding-bottom: rem(40);
  }
}

.news__list-item {
  border-bottom: 2px solid $lightgray;
}

.news__list-item:last-child {
  border-bottom: none;
  @include mq("md") {
    border-bottom: 2px solid $lightgray;
  }
}
