@use "global" as *;

.point-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(24) rem(23);
  border: 2px solid $blue;
  border-radius: 20px;
  height: 100%;
  position: relative;
  background-color: $white;
  @include mq("md") {
    padding-top: rem(18);
  }
}

.point-item__head {
  @include mq("md") {
    height: rem(80);
    display: flex;
    align-items: center;
  }
}

.point-item__num {
  position: absolute;
  top: rem(-30);
  left: rem(-2);
  background-color: $blue;
  border-radius: 50%;
  font-size: rem(19);
  font-weight: $bold;
  font-family: $second-font;
  color: $white;
  line-height: 1;
  padding-block: rem(18);
  padding-inline: rem(20);
  width: rem(87);
  height: rem(84);
  @include mq("md") {
    font-size: rem(21);
    top: rem(-20);
    left: rem(-10);
    width: rem(94);
    height: rem(91);
  }
}

.point-item__num::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: rem(40);
  height: rem(40);
  background-color: $blue;
  @include mq("md") {
    width: rem(45);
    height: rem(45);
  }
}

.point-item__num span {
  display: block;
  text-align: center;
  font-size: rem(30);
  color: $yellow;
  position: relative;
  z-index: 1;
  @include mq("md") {
    font-size: rem(32);
  }
}

.point-item__num span::after {
  content: counter(pointNum);
}

.point-item__img {
  display: grid;
  align-items: center;
  @include mq("md") {
    height: rem(80);
  }
}

.point-item__img img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}

.point-item__title {
  font-size: rem(18);
  font-weight: $bold;
  font-family: $second-font;
  line-height: calc(26 / 18);
  text-align: center;
  @include mq("md") {
    line-height: calc(27 / 19);
    letter-spacing: 0.05em;
  }
}

.point__list > .point__item:nth-child(odd) .point-item__title {
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(12);
  }
}

.point__list > .point__item:nth-child(even) .point-item__title {
  margin-top: rem(12);
  @include mq("md") {
    margin-top: rem(12);
  }
}

.point-item__text {
  margin-top: rem(14);
  font-size: rem(14);
  line-height: calc(27 / 14);
  flex-grow: 1;
  text-align: justify;
  @include mq("md") {
    margin-top: rem(10);
    font-size: clamp(12px, calc(15 / 1400 * 100vw), 15px);
  }
}
