@use "global" as *;

.section-head {
  position: relative;
  padding-bottom: rem(13);
  display: flex;
  gap: rem(15);
  align-items: center;
  @include mq("md") {
    padding-bottom: rem(32);
    align-items: flex-end;
    gap: rem(10);
  }
}

.section-head__main {
  font-size: rem(21);
  font-weight: $bold;
  font-family: $second-font;
  line-height: 1;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(40);
    letter-spacing: 0.15em;
  }
}

.section-head__sub {
  font-size: rem(14);
  font-family: $second-font;
  line-height: 1;
  position: relative;
  @include mq("md") {
    font-size: rem(18);
    letter-spacing: 0.05em;
  }
}

.section-head::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: rem(61);
  height: rem(2);
  background-color: $blue;
  @include mq("md") {
    height: rem(7);
  }
}

.section-head--vertical {
  @extend .section-head;
  flex-direction: column;
  gap: rem(8);
  width: fit-content;
  @include mq("md") {
    align-items: center;
    gap: rem(24);
    padding-bottom: rem(24);
  }
}

.section-head--vertical .section-head__main {
  order: 2;
}

.section-head--vertical .section-head__sub {
  order: 1;
}

.section-head--vertical::before {
  left: 50%;
  transform: translateX(-50%);
  width: rem(38);
  @include mq("md") {
    width: rem(61);
  }
}

.section-head--en {
  @extend .section-head;
  @include mq("md") {
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    padding-bottom: rem(28);
  }
}

.section-head--en .section-head__main {
  @include mq("md") {
    font-weight: $extra-bold;
    font-size: rem(49);
    letter-spacing: 0.05em;
  }
}

.section-head--en .section-head__sub {
  @include mq("md") {
    font-size: rem(16);
    letter-spacing: 0.15em;
  }
}

.section-head--en::before {
  @include mq("md") {
    left: 50%;
    transform: translateX(-50%);
    width: rem(61);
  }
}
